<% @usuario = current_user.id  %>
<% if @usuario == @sala.adm.user.id %>
<h1>Editar Sala</h1>

<%= render 'form', sala: @sala %>

<div class="col-lg-offset-2 col-lg-10">
<%= link_to 'Entrar', @sala, :class => 'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Voltar', salas_path, :class => 'btn btn-outline-primary btn-sm' %>
</div>

<% else %>
Você não tem permissão para essa ação!
</br></br>
<div class="col-lg-offset-2 col-lg-10">
<strong><%= link_to 'Voltar', salas_path, :class => 'btn btn-outline-primary btn-sm' %></strong>
</div>
<% end %>