<div align="center">
	<h1>Nova Sala</h1>
</div>
	<%= render 'form', sala: @sala %>

<div class="col-lg-offset-2 col-lg-10">
	<%= link_to 'Voltar', salas_path, :class => 'btn btn-outline-primary btn-sm' %>
</div>
